{% extends "base.html" %}

{% block title %}User{% endblock %}

{% block head %}
  <style>
    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 90%;
      max-width: 500px;

      input {
        width: 100%;
        background-color: brown;
        padding: 10px;
        background: none;
        border-radius: 4px;
        border: 0.5px solid gray;

        &[type="submit"] {
          cursor: pointer;
          background-color: #000;
          color: #fff;
          font-weight: 600;
          font-size: 1rem;
          padding: 1rem;
          margin-top: 1.2rem;
        }
      }
    }
  </style>
{% endblock %}

{% block content %}
  <p class="text-2xl font-semibold my-4">
    Showing {{ user.name }}
  </p>

  <form>
    <input type="text" name="name" placeholder="change user name" value="{{ user.name }}">
    <input type="email" name="email" placeholder="change user email" value="{{ user.email }}">

    <input type="submit" value="Update User" >
  </form>

  <script>
    document.querySelector("form").addEventListener("submit", (e) => {
      e.preventDefault();

      const userUpdate = {
        name: e.target.name,
        email: e.target.email,
      }

      console.log({ userUpdate })
    })
  </script>
{% endblock %}