<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flask App - Home</title>

  <style>
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    body {
      min-height: 100vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;
      padding: 3rem 1rem 1rem;
      gap: 3rem;
    }
  </style>
</head>

<body>
  <h1>
    Welcome to my Flask app
  </h1>
</body>

</html>